# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode

.nooforge_llm_cache.sqlite
./out.json

.cache

# Added by cargo

/target
